.film-about {
  padding: 40px 0 120px 0;

  color: #ffffff;
}

.film-about__title {
  margin-bottom: 64px;

  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1.5rem;
}

.film-about__desc {
  display: flex;
  flex-direction: column;
  align-items: stretch;

  width: 100%;
  height: 264px;
}

.film-about__desc_item {
  display: flex;

  width: 100%;

  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
}

.film-about__desc_item:not(:last-child) {
  margin-bottom: 24px;
}

.film-about__desc_item > div:first-child {
  width: 20%;
}

/* .film-about__desc_item > div:nth-child() {
  width: 20%;
} */

@media (max-width: 376px) {
  .film-about {
    padding: 0 0 32px 0;
  }

  .film-about__title {
    margin-bottom: 25px;
  }

  .film-about__desc {
    height: 348px;
  }

  .film-about__desc_item {
    flex-direction: column;
  }

  .film-about__desc_item > div:first-child {
    width: 100%;

    font-size: 0.75rem;
    line-height: 1.25rem;

    color: rgb(255, 255, 255, 0.5);
  }

  .film-about__desc_item:not(:last-child) {
    margin-bottom: 12px;
  }
}
