.list {
  margin-bottom: 20px;

  &__title {
    margin-bottom: 20px;

    color: #ffffff;
    font-size: 3rem;
  }

  &__item:not(:last-child) {
    margin-bottom: 20px;
  }
}

.button--load {
  padding: 10px;

  font-size: 1.5rem;
  font-weight: 600;

  border-radius: 10px;
  outline: 2px solid #000000;

  color: #ffffff;
  background-color: red;
}

.button--load:hover,
.button--load:focus {
  outline: 2px solid red;

  color: #000000;
  background-color: #ffffff;
}

.visible {
  display: block;
}

.invisible {
  display: none;
}
