.title {
  margin-bottom: 20px;
}

.list > li {
  width: 100%;
  min-height: 200px;

  padding: 20px 20px;

  border: 1px solid #5e5d5d;
  border-radius: 10px;

  background-color: #d6d6d6;
}

.list > li:not(:last-child) {
  margin-bottom: 20px;
}
