.header {
  margin-bottom: 1rem;

  border-bottom: 0.1rem #9c9c9c solid;
}

.content {
  display: flex;
  justify-content: space-between;
  align-items: center;

  max-width: 900px;
  min-width: 320px;

  margin: 0 auto;
  padding: 1rem 0;
}

.linksBlock > a:not(:last-child) {
  margin-right: 1rem;
}
