.footer__content {
  display: flex;
  justify-content: space-between;

  font-size: 0.9rem;
  line-height: 0.9rem;

  color: #ffffff;
}

.company-description {
  display: flex;
  align-items: center;
}

.company-name {
  display: flex;
  align-items: center;

  margin-right: 14px;

  font-weight: 700;
}

.company-copyright {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.company-copyright__text {
  font-weight: 400;
}

.container-logo {
  display: flex;
  align-items: center;

  margin-right: 14px;
}

.company-copyright__logo {
  margin-right: 12px;
}

.socials-list {
  display: flex;
  align-items: center;
}

.socials-list__item {
  display: flex;
  align-items: center;

  width: 36px;
  height: 36px;

  padding: 8px 8px;

  border: 1px solid rgba(255, 255, 255, 0.8);
  border-radius: 8px;

  cursor: pointer;
}

.ok-logo {
  padding: 8px 12px;
}

.youtube-logo {
  padding: 8px 9px;
}

.socials-list__item:not(:last-child) {
  margin-right: 24px;
}

@media (max-width: 576px) {
  .socials-list__item:not(:last-child) {
    margin-right: 14px;
  }
  .socials-list__item {
    width: 24px;
    height: 24px;
    padding: 7px 7px;
  }
}

@media (max-width: 376px) {
  .footer__content {
    flex-direction: column;
  }

  .company-description {
    flex-direction: column;
    align-items: flex-start;

    margin-bottom: 32px;
  }

  .company-name {
    margin-right: 0;
    margin-bottom: 14px;
  }
}
