.container-notes-list {
  padding: 0 80px;
}
.notes-list__button-add {
  display: flex;
  align-items: center;
  justify-content: center;

  padding: 80px 160px;
}

.button-add {
  font-size: 28px;
}

.notes-list > li:not(:last-child) {
  margin-bottom: 40px;
}

.notes-list__item {
  padding: 24px 40px;

  border-radius: 20px;

  background-color: #ffffff;
}
