/* .container {
    padding: 24px 80px;
} */

.header {
    position: relative;
}

.header__menu {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 24px 80px;

    backdrop-filter: blur(20px);
    background: rgba(0, 0, 0, 0.5);
}

.header__navigation {
    display: flex;
    justify-content: space-between;

    width: 60%;
}

.header__search {
    display: flex;
    justify-content: space-between;

    width: 65%;
}

.header__preview {
    padding: 106px 80px 122px 80px;
}