.button {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 10px 28px;

  border-radius: 20px;

  font-size: 0.75rem;
  font-weight: 700;

  color: #ffffff;
  background-color: rgb(208, 176, 78);

  & > *:first-child {
    margin-right: 10px;
  }

  & > span > svg > path {
    stroke: #ffffff;
  }

  & > span > svg > circle {
    stroke: #ffffff;
  }

  &:hover,
  &:focus {
    color: black;
    background-color: #ffffff;
  }

  &:active {
    background-color: rgb(249, 211, 94);
  }
}
