.deal {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 5px;
  border-radius: 8px;
  background-color: #fff;
}

.deal--done {
  background-color: #fc7474;
}

.deal__title {
  display: flex;
  align-items: center;
  width: 100%;
}

.deal__title--done {
  width: 80%;
}

.deal__input-text {
  width: 100%;
  padding: 7px;
  border: none;
  text-align: start;
  background-color: inherit;
}

.deal__input-text--done {
  color: #fff;
  text-decoration: line-through;
}

.deal__input-text:focus {
  outline: none;
}

.deal__button {
  display: none;
  padding: 5px;
  font-weight: 600;
  color: #000000;
  background-color: #ffffff;
}

.deal__button--done {
  display: block;
}