.button {
  display: flex;
  align-items: center;
  justify-content: space-between;

  font-size: 1rem;

  transition: all 0.2s ease-in-out;
}

.button:hover {
  cursor: pointer;
  opacity: 0.8;
}

.children {
  display: flex;
  align-items: center;
  justify-content: center;

  margin-right: 0.5rem;
}

.secondary {
  padding: 0.5rem 1rem;

  border-radius: 0.5rem;

  color: rgba(0, 0, 0, 0.87);
  background-color: rgba(220, 220, 220, 0.87);
}

.primary {
  padding: 0.5rem 1rem;

  border-radius: 0.5rem;

  color: rgba(255, 255, 255);
  background-color: rgba(40, 60, 240, 0.87);
}
