@mixin makeContainer {
  padding: 20px;
  margin: 0 auto;
}

@mixin makeContainerFlex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@mixin makeContainerChild {
  padding: 14px 20px;
  border-radius: 10px;
}

body {
  margin: 0;
}

:root {
  max-width: 1440px;
  min-width: 320px;
  height: 100vh;

  @include makeContainer();

  color: #ffffff;
  background-color: rgb(230, 247, 255);

  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;

  font-size: 20px;
  font-weight: 500;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

h1,
h2,
h3 {
  margin: 0;
}

p {
  margin: 0;
}

img {
  width: 100%;
  height: 100%;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

input {
  appearance: none;
  outline: none;
  border: none;
  cursor: pointer;
}

button {
  padding: 0;
  border: none;
  cursor: pointer;
}

.container {
  @include makeContainer();
}

.container-flex {
  @include makeContainerFlex();
}

.container-child {
  @include makeContainerChild();
}
