.header__menu {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 24px 80px;

    backdrop-filter: blur(20px);
    background: rgba(0, 0, 0, 0.5);
}

.header__menu_navigation {
    display: flex;
    justify-content: space-between;

    width: 60%;
}

.header__menu_search {
    display: flex;
    justify-content: space-between;

    width: 65%;
}