.header__menu {
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 100%;
}

.header__menu_right {
  display: flex;

  justify-content: space-between;
  width: 70%;
}

.header__menu_navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 85%;
}

.header__menu_search {
  position: relative;

  display: flex;
  justify-content: space-between;

  width: 70%;

  cursor: pointer;
}

.header__menu_search-active {
  top: 16px;
  right: 20px;

  width: 190px;
}

.header__menu_search-disactive {
  top: 16px;
  right: 57px;

  width: 24px;
}

.menu__input,
.menu__input:hover {
  background-color: #393b3c;

  border: none;
  border-radius: 8px;
}

.header__menu_account {
  display: flex;
  align-items: center;
}

.link-to-genres-page {
  display: flex;
  align-items: center;
}

.disactive {
  display: none;
}

@media (max-width: 376px) {
  .header__menu_right {
    width: 30%;
  }

  .header__menu_navigation {
    width: 100%;
    margin-right: 20px;
  }

  .header__menu_search {
    position: absolute;

    height: 24px;

    z-index: 0;
  }

  .menu__input,
  .menu__input:hover {
    background-color: inherit;
  }
}
