.header__menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__menu_navigation {
  display: flex;
  justify-content: space-between;

  width: 65%;
}

.header__menu_search {
  position: relative;

  display: flex;
  justify-content: space-between;

  width: 70%;
}
