.preview {
    position: relative;

    display: flex;
    align-items: center;

    height: 680px;

    margin-bottom: 40px;
    padding: 0 80px 0 80px;
}

.preview__content-left {
    width: 50%;
    height: 100%;
}

.preview__description {
    margin-bottom: 60px;
}

.preview__description>*:not(:last-child) {
    margin-bottom: 16px;
}

.preview__about {
    display: flex;

    color: rgba(255, 255, 255, 0.7);

    font-size: 18px;
    line-height: 24px;
}

.preview__about>*:not(:last-child) {
    margin-right: 16px;
}

.preview__about_raiting {
    display: flex;
    justify-content: space-between;
    align-items: center;

    height: 24px;

    padding: 4px 12px;

    border-radius: 16px;

    font-weight: 700;

    color: rgba(255, 255, 255);
    background-color: #308E21;
}

.preview__genre:not(:last-child) {
    margin-right: 10px;
}

.preview__title {
    color: rgba(255, 255, 255);

    font-size: 48px;
    line-height: 56px;
    font-weight: 700;
}

.preview__text {
    color: rgba(255, 255, 255, 0.7);
}

.preview__buttons>*:not(:last-child) {
    margin-right: 16px;
}

.preview__image {
    position: absolute;
    top: -160px;
    right: 0;

    width: 40%;
    height: 120%;

    z-index: -1;

    box-shadow: 0px 0px 80px 0px rgba(255, 255, 255, 0.33);
}