.messages {
    padding: 0 1rem;
}

.title {
    margin-bottom: 1rem;

    text-align: start;
}

.item {
    padding: 1rem;

    border-radius: 0.5rem;
    text-align: start;
    background-color: lightgrey;

}

.item:not(:last-child) {
    margin-bottom: 1rem;
}