@mixin makeContainerFlex {
  display: flex;
  justify-content: space-between;
}

.note {
  @include makeContainerFlex();
  flex-direction: column;

  width: 100%;
  min-height: 300px;

  padding: 20px 20px;

  border-radius: 10px;

  background-color: rgb(121, 213, 255);

  &__header {
    @include makeContainerFlex();
    flex-direction: column;
  }

  &__desc {
    margin-bottom: 20px;
  }

  &__title {
    margin-bottom: 10px;
    padding-left: 10px;
  }

  &__text {
    padding: 10px;

    border-radius: 10px;

    font-style: italic;
    word-break: break-all;

    color: #000000;
    background-color: #ffffff;
  }

  &__actions {
    @include makeContainerFlex();
    align-items: center;
  }

  &__button {
    padding: 0;
  }

  &__button > * {
    border-radius: 10px;
    padding: 16px 48px;

    font-size: 0.85rem;
    font-weight: 700;

    color: rgb(121, 213, 255);
    background-color: #ffffff;
  }

  &__button:hover > *,
  &__button:focus > * {
    color: #ffffff;
    background-color: rgb(9, 79, 255);
  }

  &__button:active > * {
    color: #ffffff;
    background-color: rgb(121, 152, 255);
  }

  // &__button:hover,
  // &__button:focus {
  //   color: rgb(0, 199, 7);

  //   outline: 2px solid rgb(0, 199, 7);
  // }

  // &:hover,
  // &:focus {
  //   color: #ffffff;

  //   outline: 3px solid rgb(0, 199, 7);
  // }
}
