.title {
    margin-bottom: 1rem;
    text-align: start;
}

.form {
    display: flex;
    align-items: center;
    justify-content: start;

    margin-bottom: 1rem;
}

.textarea {
    resize: none;
    margin-right: 10px;
}

.post {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.postContent {
    display: flex;
    align-items: center;
}

.postInfo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}

.postImg {
    width: 30px;
    height: 30px;

    margin-right: 20px;
}

.postText {
    margin-right: 10px;
}