.notes {
  display: grid;
  grid-template-columns: 400px auto;
  gap: 20px;
}

.container-list {
  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 20px 30px;

  border-radius: 10px;

  background-color: rgb(208, 176, 78);
}

.list {
  width: 100%;

  &__item {
    margin-bottom: 20px;
  }
}

.container-button-card-add {
  align-self: center;
  margin-bottom: 20px;

  & > button {
    background-color: rgb(78, 82, 208);
  }
}
