.section {
    background-color: darkgoldenrod;
}

.navbar {
    padding: 1rem;
}

.list {
    display: flex;
    flex-direction: column;
    align-items: start;
    padding: 0;
    margin: 0;

    list-style: none;
    text-decoration: none;
}