#root {
  max-width: 1440px;
  margin: 0 auto;
}

.app-container {
  display: grid;
  grid-template-columns: 2fr 10fr;
  grid-template-rows: 1fr 11fr;
  grid-template-areas:
    "navigation header"
    "navigation main";

  height: 100vh;
}
