.input {
  color: rgba(0, 0, 0, 0.7);
  background-color: #ffffff;

  font-size: 0.75rem;
  font-weight: 700;
  line-height: 0.75rem;

  cursor: pointer;
}

.input::placeholder {
  color: rgba(0, 0, 0, 0.4);
}

.input-container:focus,
.input-container:hover {
  border: 1px solid rgb(180, 169, 255);
}

.input-container--error {
  border: 1px solid rgb(255, 117, 117);
}
