.input {
    width: 86%;

    background-color: inherit;

    font-size: 18px;
    line-height: 24px;
}

.input::placeholder {
    color: rgba(255, 255, 255, 0.5);
}

.input-container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 100%;

    padding: 12px 22px;

    border: 1px solid rgba(0, 0, 0, 0.4);
    border-radius: 8px;
}

.dark {
    color: #FFFFFF;
    background-color: #393B3C;
}

.light {
    color: #000000;
    background-color: #FFFFFF;
}

.input-container:focus,
.input-container:hover {
    border: 1px solid rgb(180, 169, 255);
}

.input-container--error {
    border: 1px solid rgb(255, 117, 117);
}