.raiting {
  display: flex;
  justify-content: space-between;
  align-items: center;

  height: 24px;

  padding: 4px 12px;

  border-radius: 16px;

  font-weight: 700;

  color: rgba(255, 255, 255);
}

.raiting__image {
  margin-right: 5px;
}

.raiting_very_high {
  background-color: rgb(165, 148, 0);
}

.raiting_high {
  background-color: rgb(48, 142, 33);
}

.raiting_middle {
  background-color: rgb(119, 119, 119);
}

.raiting_low {
  background-color: rgb(200, 32, 32);
}

@media (max-width: 576px) {
  .raiting {
    height: 18px;
    padding: 4px 6px;
  }

  .raiting__image {
    margin-right: 4px;
    height: 11px;
    width: 10px;
  }
}

@media (max-width: 376px) {
  .raiting {
    height: 14px;
    padding: 12px 12px;
  }

  .raiting__image {
    margin-right: 2px;
    height: 7px;
    width: 7px;
  }
}
