.list-container {
  padding: 40px 0;
}

.list__title {
  margin-bottom: 64px;

  font-size: 1.6rem;
  font-weight: 700;
  line-height: 2rem;

  color: #ffffff;
}

.list {
  display: grid;

  width: 100%;
}

.list_movie {
  grid-template-columns: repeat(5, 18%);
  grid-auto-rows: 336px;

  gap: 32px;
}

.list__item-movie {
  width: 100%;
}

.list__item-genre {
  width: 100%;
  height: 304px;
}

.list_genres {
  grid-template-columns: repeat(4, 23%);
  grid-auto-rows: 306px;

  gap: 32px;
}

@media (max-width: 1200px) {
  .list_movie {
    grid-auto-rows: 306px;

    gap: 26px;
  }
}

@media (max-width: 992px) {
  .list_movie {
    grid-auto-rows: 268px;

    gap: 23px;
  }
}

@media (max-width: 768px) {
  .list__title {
    margin-bottom: 44px;
  }

  .list_movie {
    grid-auto-rows: 210px;

    gap: 18px;
  }
}

@media (max-width: 576px) {
  .list-container {
    padding: 20px 0;
  }

  .list__title {
    margin-bottom: 34px;
  }

  .list_movie {
    grid-auto-rows: 150px;

    gap: 13px;
  }
}

@media (max-width: 376px) {
  .list_movie,
  .list_genres {
    grid-template-columns: repeat(1, 100%);
    grid-auto-rows: 336px;
    gap: 13px;
  }
}
