.dialogs {
    padding: 0 1rem;
    border-right: 2px solid lightgrey;
}

.title {
    margin-bottom: 1rem;

    text-align: start;
}

.listItem {
    padding: 1rem;

    border-radius: 0.5rem;
    text-align: start;
    background-color: lightgrey;

}

.listItem:not(:last-child) {
    margin-bottom: 1rem;
}

.dialog {
    display: flex;
    align-items: center;
}

.dialogImg {
    width: 20px;
    height: 20px;

    margin-right: 0.5rem;
}