.container {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 3fr 9fr;
}

.dialogs {
    border-right: 2px solid lightgrey;
}

.dialogs, .messages {
    padding: 0 1rem;
}

.title {
    margin-bottom: 1rem;

    text-align: start;
}

.item {
    padding: 1rem;

    border-radius: 0.5rem;
    text-align: start;
    background-color: lightgrey;

}

.item:not(:last-child) {
    margin-bottom: 1rem;
}