.navigation {
  grid-area: navigation;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  padding: 1rem;

  color: rgba(255, 255, 255, 0.87);
  background-color: rgba(35, 35, 35, 0.87);
}

.title {
  margin-bottom: 2rem;
}

.list > li {
  display: flex;
  align-items: center;

  margin-bottom: 0.3rem;
  padding: 0.2rem;
}

.navIcon {
  display: flex;
  align-items: center;
  justify-content: center;

  margin-right: 0.5rem;
}

.arrowIcon {
  margin-left: 0.5rem;
}

.arrowIconUp {
  margin-left: 0.5rem;
  transition: transform 0.2s ease-in-out;
  transform: rotate(180deg);
}

.navTasks {
  display: flex;
  align-items: center;
  justify-content: start;
}

.navTasksList {
  margin-left: 2rem;
}

.navTasksList > ul {
  border-left: 0.1rem solid rgba(255, 255, 255, 0.87);
}

.navTasksList > ul > li {
  padding: 0.5rem;
  margin-bottom: 0.3rem;

  border-bottom: 0.1rem solid rgba(255, 255, 255, 0.87);

  line-height: normal;
}

.navTasksListInvisible {
  display: none;
}

.navLink {
  color: rgba(255, 255, 255, 0.87);
}

.navSettings {
  display: flex;
  flex-direction: column;
  align-items: start;
}

.navSettings > button:not(:last-child) {
  margin-bottom: 0.3rem;
}
