.preview {
  position: relative;

  display: flex;
  align-items: center;

  height: 680px;
}

.preview__content-left {
  display: flex;
  flex-direction: column;
  justify-content: center;

  width: 50%;
  height: 100%;
}

.preview__description {
  margin-bottom: 60px;
}

.preview__description > *:not(:last-child) {
  margin-bottom: 16px;
}

.preview__about {
  display: flex;
  align-items: center;

  color: rgba(255, 255, 255, 0.7);

  font-size: 0.75rem;
  line-height: 0.75rem;
}

.preview__about > *:not(:last-child) {
  margin-right: 16px;
}

.preview__about_raiting {
  display: flex;
  justify-content: space-between;
  align-items: center;

  height: 24px;

  padding: 4px 12px;

  border-radius: 16px;

  font-weight: 700;

  color: rgba(255, 255, 255);
  background-color: #308e21;
}

.list-genres {
  display: flex;
  flex-wrap: wrap;
}

.list-genres > *:not(:last-child) {
  margin-right: 10px;
}

.preview__genre:not(:last-child) {
  margin-right: 10px;
}

.preview__title {
  color: rgba(255, 255, 255);

  font-size: 2rem;
  line-height: 1.5rem;
  font-weight: 700;
}

.preview__text {
  display: -webkit-box;
  line-clamp: initial;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
  overflow: hidden;
  color: rgba(255, 255, 255, 0.7);
}

.preview__buttons {
  display: flex;
  align-items: center;
}

.preview__buttons_film-page {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: nowrap;
}

.preview__buttons > *:not(:last-child) {
  margin-right: 16px;
}

.preview__image {
  position: absolute;
  top: -160px;
  right: -80px;

  width: 70%;
  height: 124%;

  z-index: -1;

  box-shadow: 0px 0px 80px 0px rgba(255, 255, 255, 0.33);
}

@media (max-width: 992px) {
  .preview {
    height: 500px;
  }

  .preview__image {
    height: 130%;
    right: -40px;
  }
}

@media (max-width: 768px) {
  .preview__image {
    height: 130%;
    right: -20px;
  }
}

@media (max-width: 768px) {
  .preview {
    height: 380px;
  }

  .preview__image {
    height: 142%;
    right: -20px;
  }
}

@media (max-width: 576px) {
  .preview {
    height: 300px;
  }

  .preview__image {
    height: 153%;
  }
}

@media (max-width: 376px) {
  .preview {
    position: static;

    flex-direction: column-reverse;

    height: 640px;
  }

  .preview__title {
    font-size: 1.5rem;
  }

  .preview__image {
    position: static;

    width: 112%;
    height: 258px;

    margin-bottom: 24px;
  }

  .preview__content-left {
    width: 100%;
    height: 376px;

    margin-bottom: 24px;
  }

  .preview__about > :not(:last-child) {
    margin-right: 8px;
  }

  .preview__description {
    height: 180px;

    margin-bottom: 32px;
  }

  .preview__text {
    -webkit-line-clamp: 3;
  }

  .preview__buttons {
    flex-wrap: wrap;
  }

  .preview__buttons > *:not(:last-child) {
    margin-right: 8px;
  }

  .preview__buttons > *:first-child {
    width: 100%;
  }

  .preview__buttons > *:first-child {
    margin-right: 0;
    margin-bottom: 16px;
  }

  .preview__buttons_film-page .primary {
    width: 75%;
  }
}
